/*
    Hoja de Estilos Principal
*/
body{
    color: blue;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body a{
    text-decoration: none;
}
.body {
    min-height: 75rem;
    padding-top: 4.5rem;
    color: blue;
}
.b-example-divider {
    height: 2rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .35);
}
.navbar {
    background-color: rgba(255, 255, 255);
    color: rgba(102, 195, 64);
}
.navbar .dropdown-menu {
    background-color: rgba(255,255, 255);
}
.nav-link:hover {
    font-weight: bolder;
}
.nav-item img {
    width: 2.5em;
}
.dropdown a{
    color: rgba(102, 195, 64);
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
.jumbotrop {
    background-image: url(../media/images/sample4.jpg);
    background-size: cover;
}
#cardPanel {
    background-image: url(../media/images/card_panel.PNG);
}
.card {
    background-color: rgba(102, 195, 64, 0.3);
}
.card:hover {
    background-color: rgba(102, 195, 64, 0.5);
}
.card-body {
    /*width: 75%;*/
    color: rgb(90, 90, 90);
}
.card h1 {
    color: rgb(102, 195, 64);
    /*font-size: 500%;*/
}
.card span {
    color: white;
    font-size: 1em;
}
/*
div.card h5 {
    color: rgba(50, 50, 50);
    text-decoration: none;
}
div.card p {
    color: rgb(80, 80, 80);
    text-decoration: none;
}
*/
.responsive {
    width: 15%;
    height: auto;
}
h1 {
    color:rgb(150, 150, 150);
}   
.col-md-auto a{
    color:rgb(180, 180, 180);
    font-size: 2em;
}
footer {
    color: rgba(102, 195, 64);
}