/*
    Hoja de Estilos Principal
*/
body{
    color: blue;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body a{
    text-decoration: none;
}
.body {
    min-height: 75rem;
    padding-top: 4.5rem;
    color: blue;
}
/**************************************************/
.divider {
    height: 5rem;
    background-color: rgba(255, 255, 255, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
/**************************************************/
.mainHeader {
    background-image: url(../media/images/sample4.jpg);
    background-size: cover;
}
/**************************************************/
.navbar {
    background-color: rgba(255, 255, 255);
    color: rgba(102, 195, 64);
}
.navbar .dropdown-menu {
    background-color: rgba(255,255, 255);
}
.nav-link:hover {
    font-weight: bolder;
}
.nav-item img {
    width: 2.5em;
}
.dropdown a {
    color: rgba(102, 195, 64);
}
.scrolled-down {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
.scrolled-up {
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }
/*************************************************************************/
/* Carousel base class */

/*************************************************************************/
.containerCard-0 { background-image: url(../media/images/card_panel.PNG); }
.containerCard-1 { background-image: url(../media/images/card_calentador.jpg); }
.containerCard-2 { background-image: url(../media/images/card_copiadora.jpg); }
.containerCard-3 { background-image: url(../media/images/card_camara.jpg);}
.containerCard p {
    color: rgb(235, 235, 235);
    background-color: rgba(0, 0, 0, 0.6);
}
.containerCard {
    background-size: cover;
    width: 500px;
    height: 250px;
    /**/
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .5s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.containerCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-1{
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
#cardTitle {
    color: rgba(102, 195, 64, 1);
    text-shadow: 1px 1px #0000009f
}
/****************/
/*
.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
 }
.card span {
    color: white;
    font-size: 1em;
}
*/
/*************************************************************************/
#redesText {
    color: gray;
    font-size: 2em;
}
/*************************************************************************/
.containerEmail .contact{
    font-size: 2rem;
}
.btnEnviar {
    color: white;
    background-color: rgb(102, 195, 64);
}
.btnEnviar:hover {
    color: white;
    background-color: rgb(77, 148, 49);
}
/*************************************************************************/
/*
div.card h5 {
    color: rgba(50, 50, 50);
    text-decoration: none;
}
div.card p {
    color: rgb(80, 80, 80);
    text-decoration: none;
}
*/
.responsive {
    width: 15%;
    height: auto;
}
.col-md-auto a{
    color:rgb(180, 180, 180);
    font-size: 2em;
}
footer {
    color: rgba(102, 195, 64);
}
/*****************************************************************/
.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .85);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(255, 255, 255, .85);
  background-color: #66c340;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #66c340;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }
/*****************************************************/
/********************  FONT SIZES ********************/
.textTitle{
    color: rgb(110,110,110);
}
/*****************************************************/
/*****************************************************/